@import "base/variables";

// Foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// Components
// @import "components/fileName";

.page-title {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.center-nav {
  text-align: center;
}
.nav-text {
  display: inline-block;
}
.full-width {
  width: 100%;
}