@import "base/variables";

// Foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// Components
// @import "components/fileName";

.page-title {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.center-nav {
  text-align: center;
  position: fixed;
  width: 100%;
}
.nav-text {
  display: inline-block;
}

.navwide {
  display: table; 
  margin: 0 auto;
}

.tabled {
  display: table-cell;
}

.childwidth {
  width: 80%;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}
.white {
  background-color: white;
  z-index: 100;
}
.fixtopleft {
  position: fixed;
  top: 0;
  left: 0;
}
.fixtopright {
  color: green;
  position: fixed;
  top: 1.5%;
  left: 80%;
  text-align: center;
}
.heading {
  width: 100%;
  position: fixed;
  z-index: 10;
  background: inherit;
  background-color: white;
  margin-bottom: 0;
  max-height: 53px;
}

.bottom-wrapper {
  width: 100%;
  padding-top: 53px;
  z-index: -5;
  overflow:auto;
}

ul.tabs {
  text-align: center;
  
  font-weight: bolder;
}

ul.tabs li {
  float: none !important;
  display: inline-block;
}

.center-tabs {
  width: 30%;
  margin: 0 auto;
  
}